# Dashboard password
PASSWORD=test

# Server
APP_PORT=9000
LSP_PORT=9001

# PostgreSQL
# Docker users: keep POSTGRES_HOST=postgres
# Non-Docker: change to localhost
POSTGRES_HOST=postgres
POSTGRES_NAME=jesse_db
POSTGRES_PORT=5432
POSTGRES_USERNAME=jesse_user
POSTGRES_PASSWORD=password

# Redis
# Docker users: keep REDIS_HOST=redis
# Non-Docker: change to localhost
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Live trading plugin (optional)
LICENSE_API_TOKEN=
